.ppSoknad {
    &__infoOmSoknad {
        margin: 0rem 1rem;
        padding: 2rem 3.5rem 3.5rem;
        background-color: rgb(241, 241, 241);
        text-align: left;
    }
    &__infoEttersend {
        margin: 3rem 4rem;
    }

    &__infoEttersendTittel {
        margin-bottom: 2rem;
    }

    &__infoEttersendKnappeBox {
        margin: 3rem 1rem;
    }
}
