.ppSoknad {
    &__infoOmSoknad {
        margin: 0rem 2rem;
    }
    &__infoEttersend {
        margin: 3rem 4rem;
    }

    &__infoEttersendTittel {
        margin-bottom: 2rem;
    }

    &__infoEttersendKnappeBox {
        margin: 3rem 3rem;
    }

    &__no-bullets {
        list-style-type: none; /* Remove bullets */
        padding: 1rem; /* Remove padding */
        margin: 0; /* Remove margins */
    }
}
