@import '../../styles/assets.less';
@import '~nav-frontend-typografi-style/src/mixins.less';

.soknadListElement {
    display: flex;
    align-items: center;
    width: 100%;
    &__mottatt {
        opacity: 0.75;
    }
    &__detaljer {
        margin-top: 0.25rem;
    }
    &__content {
        flex: 2 1 80%;
        padding-left: 2.5rem;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0.25rem;
            display: block;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMzQiIHZpZXdCb3g9IjAgMCAyNiAzNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGZpbGxSdWxlPSJldmVub2RkIiBjbGlwUnVsZT0iZXZlbm9kZCIgZD0iTTI0LjY1MTYgMzIuNzY4OEgxVjAuNzY5NTMxSDE2LjMwNEwyNC42NTE2IDkuMTE3MTZWMzIuNzY4OFYzMi43Njg4WiIgc3Ryb2tlPSIjM0UzODMyIiBzdHJva2VMaW5lY2FwPSJyb3VuZCIgc3Ryb2tlTGluZWpvaW49InJvdW5kIiAvPgogICAgPHBhdGggZD0iTTE2LjMwNDcgMC43Njg1NTVWOS4xMTYxOUgyNC42NTIzIiBzdHJva2U9IiMzRTM4MzIiIHN0cm9rZUxpbmVjYXA9InJvdW5kIiBzdHJva2VMaW5lam9pbj0icm91bmQiIC8+Cjwvc3ZnPg==');
            background-position: top left;
            background-repeat: no-repeat;
            width: 26px;
            height: 34px;
        }
    }
    &__title {
        .typo-undertittel-mixin();
    }
    &__status {
        flex: 2 1 20%;
        white-space: nowrap;
        text-align: right;
    }
}
