.ekspanderbartPanel__tittel {
    width: 90%;
}

.omsorgsdagerkalkulator {
    &--align-content-centre {
        text-align: center;
    }

    &--flex-center {
        display: flex;
        justify-content: center;
    }

    &--ekspanderbarnpanel-tittel-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
