@import '../../styles/assets.less';
@import '~nav-frontend-typografi-style/src/mixins.less';

ul.info {
    padding-inline-start: 1rem;
    margin-top: 0;
    @media (min-width: @mobile-breakpoint) {
        margin-top: 2rem;
    }
    li {
        margin-bottom: 1rem;
        div:first-child {
            font-weight: bold;
        }
        @media (min-width: @mobile-breakpoint) {
            margin-bottom: 1rem;
        }
    }
}
