@import '../../styles/assets.less';
@import '~nav-frontend-typografi-style/src/mixins.less';

.info {
    ul {
        margin-top: 2rem;
    }
    li {
        margin-bottom: 1rem;
        div:first-child {
            font-weight: bold;
        }
    }
}
