.soknader {
    &__toggle_button {
        margin-bottom: 3rem;
        text-align: center;

        .infoToggleButton__content {
            border-bottom: 0px;
            font-size: 1rem;
            font-family: 'Source Sans Pro';
        }
    }
}
