.soknader {
    &__toggle_button {
        margin-top: 4rem;
        margin-bottom: 3rem;
        text-align: center;
    }
}

.infoToggleButton {
    &__content {
        padding-right: 2.5rem;
        border-bottom: 0px;
    }
}
