.innsynPage {

  &__bannerWrapper {
    display: flex;
    justify-content: center;
  }

  &__bannerContentWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40rem;
  }
}
