.innsynPage {

  &__bannerWrapper {
    display: flex;
    justify-content: center;
  }

  &__bannerPadding {
    padding: 1rem 1rem 0rem 1rem;
  }

  &__bannerContentWrapper {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40rem;
  }
}
