@import '../../styles/assets.less';

.innsynFooter {
    text-align: center;
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        @media (min-width: @tablet-breakpoint) {
            display: inline;
            padding-left: 2rem;
        }

        &:first-child {
            padding-left: 0;
        }
    }
}
